<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Ct-ServidorWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
	
  <servlet>
      <servlet-name>comprobante</servlet-name>
      <servlet-class>modelo.comprobante</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>Home</servlet-name>
      <servlet-class>controladores.Home</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>controladores.Login</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Logout</servlet-name>
      <servlet-class>controladores.Logout</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>UsuarioServ</servlet-name>
      <servlet-class>controladores.UsuarioServ</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Espectaculo</servlet-name>
      <servlet-class>controladores.Espectaculo</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Funcion</servlet-name>
      <servlet-class>controladores.Funcion</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Paquete</servlet-name>
      <servlet-class>controladores.Paquete</servlet-class>
  </servlet>
   <servlet>
      <servlet-name>ListarPorPlataformaCategoria</servlet-name>
      <servlet-class>controladores.ListarPorPlataformaCategoria</servlet-class>
  </servlet>
  
  <servlet-mapping>      
      <servlet-name>comprobante</servlet-name>
      <url-pattern>/PDF</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>      
      <servlet-name>Home</servlet-name>
      <url-pattern>/home</url-pattern>
      <url-pattern>/consultaRegistros</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	  <servlet-name>Login</servlet-name>
  	  <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	  <servlet-name>Logout</servlet-name>
  	  <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioServ</servlet-name>
  	<url-pattern>/formModificarDatos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioServ</servlet-name>
  	<url-pattern>/formAltaUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioServ</servlet-name>
  	<url-pattern>/altaUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioServ</servlet-name>
  	<url-pattern>/modificarDatos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioServ</servlet-name>
  	<url-pattern>/usuarios</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioServ</servlet-name>
  	<url-pattern>/follow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioServ</servlet-name>
  	<url-pattern>/unfollow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioServ</servlet-name>
  	<url-pattern>/perfilUsuario</url-pattern>
  	<url-pattern>/fav</url-pattern>
  	<url-pattern>/unfav</url-pattern>
  	<url-pattern>/valorarEsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	  <servlet-name>Funcion</servlet-name>
  	  <url-pattern>/altaFuncion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	  <servlet-name>Funcion</servlet-name>
  	  <url-pattern>/consultaFuncion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	  <servlet-name>Funcion</servlet-name>
  	  <url-pattern>/registroAFuncion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	  <servlet-name>Funcion</servlet-name>
  	  <url-pattern>/listarFunciones</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	  <servlet-name>Espectaculo</servlet-name>
  	  <url-pattern>/espectaculo</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
  	  <servlet-name>Espectaculo</servlet-name>
  	  <url-pattern>/espectaculoListar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	  <servlet-name>Espectaculo</servlet-name>
  	  <url-pattern>/espectaculoAlta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	  <servlet-name>Paquete</servlet-name>
  	  <url-pattern>/altaPaquete</url-pattern>
  	  <url-pattern>/paquete</url-pattern>
  	  <url-pattern>/compraPaquete</url-pattern>
  	  <url-pattern>/agregarEspectaculoPaquete</url-pattern>
  </servlet-mapping>
  <error-page>
      <error-code>404</error-code>
      <location>/WEB-INF/errorPages/404.jsp</location>
  </error-page>
  <error-page>
      <error-code>500</error-code>
      <location>/WEB-INF/errorPages/500.jsp</location>
  </error-page>
   <servlet-mapping>
  	  <servlet-name>ListarPorPlataformaCategoria</servlet-name>
  	  <url-pattern>/listarPorPlataforma</url-pattern>
  	  <url-pattern>/listarPorCategoria</url-pattern>
  	  <url-pattern>/buscar</url-pattern>
  	  <url-pattern>/listarUsuarios</url-pattern>
  </servlet-mapping>
  
</web-app>